body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(41 49 48);
    color: white;
    text-align: center;
}

nav {
    height: 55px;
    background-color: #212525;
}

.nav-link {
    font-weight: 600;
    padding: 0 10px 0 10px;
    margin-bottom: 2px;
    margin-top: 6px;
    line-height: 5px;
    color: #ff0fc5;
}

.nav-link:hover {
    color: #159da0;
}

.callout-container {
    height: 90vh;
    background: url(../images/dumbbells-main.jpg) no-repeat bottom right fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*Jumbotron*/

.jumbotron {
    background-color:transparent;
}

.jumbotron-header {
    color: #ff0fc5;
    /*color: #d85025;*/
    /*color: #d82554;*/
    /*color: #d8aa25;*/
    font-weight: bold;
    font-size: 3rem;
}

.jumbotron-lead {
    color: #00ffe7;
    font-size: 1.2rem;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.block-divider {
    width: 150px;
    height: 6px;
    border: 0;
    background-color: #b2ccc1;
}

/*Buttons*/

.btn {
    color: #fff;
    background-color: #159da0;
    border-color: #159da0;
}

.btn-call {
    font-weight: bold;
    border-radius: 15px;
    width: 140px;
    color: white;
    background-color: #ff0fc5;
    border-color: rgb(0, 0, 0);
}

.btn-call:hover,
.btn-call:active,
.btn-call:focus,
.btn-call:active:focus {
    background-color: #a90673;
    border-color: #000000;
    color: white;
}

.button-collapse {
    color: #ff0fc5;
    background-color: #212525;
    border-color: #212525;
}

.about-info{
    margin-left: 20%;
    margin-right: 20%;
}

.card-body {
    background-color: #212525;
    display: flex;
    flex-direction: column;
}

.btn-med-up {
  margin-top: auto;
}

.card-med-up {
    background-color: #212525;
    min-height: 496px;
}

.card-mobile {
    background-color: #212525;
}

.main-headers {
    color: #ff0fc5;
    /*color: #a673c5;*/
    font-weight: 600;
    font-size: 50px;
    margin-bottom: -50px;
}

.sub-headings {
    color: #159da0;
    font-weight: 600;
    font-size: 40px;
    margin: 40px 0px 40px 0px;
}

#membership {
    margin-left: 5%;
    margin-top: 80px;
}

.contact-form {
    margin: 10%;
}

.member-item {
    background-color: #212525;
}

.about {
    margin-bottom: 50px;
}