body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #293130;
    color: white;
    text-align: center;
}

/* =============================== Nav Section =============================== */
nav {
    height: 55px;
    background-color: #212525;
}

.navbar-brand img {
    vertical-align: baseline;
}

.nav-link {
    font-weight: 600;
    padding: 0 10px 0 10px;
    margin-bottom: 2px;
    margin-top: 6px;
    line-height: 5px;
    color: #159da0;
}

.nav-link:hover {
    color: #00ffe7;
}

.nav-text-align {
    text-align: end;
}

.navbar-toggler-icon i {
    color: #159da0;
    font-size: 25px;
}

/* =============================== Callout/Home Section =============================== */

.callout-container {
    height: 90vh;
    background: url(../images/gym-main.jpg) no-repeat bottom right fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* =============================== Jumbotron ========================================== */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #00ffe7;
    font-weight: bold;
    font-size: 3rem;
}

.jumbotron-lead {
    color: #00ffe7;
    font-size: 1.2rem;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.block-divider {
    width: 150px;
    height: 6px;
    border: 0;
    background-color: #159da0;
    background-image: linear-gradient(to right, rgba(41, 49, 48, 0.9), rgba(41, 49, 48, 0), rgba(41, 49, 48, 0.9));
    /*========= Horizontal Rule styling used inspired by https://css-tricks.com/examples/hrs/ =======*/
}

/* =============================== Buttons ============================================ */
.btn {
    color: #fff;
    background-color: #159da0;
}

.btn-call {
    font-weight: bold;
    border-radius: 15px;
    width: 140px;
    color: white;
    background-color: #159da0;
}

.btn-call:hover,
.btn-call:active,
.btn-call:focus,
.btn-call:active:focus {
    background-color: #00ffe7;
    color: white;
}

/* =============================== Headers ============================================ */

.main-headers {
    color: #00ffe7;
    font-weight: 600;
    font-size: 50px;
    margin-top: 60px;
}

.sub-headers {
    color: #159da0;
    font-weight: 600;
    font-size: 40px;
    margin: 40px 0px 40px 0px;
}

/* =============================== About Section ====================================== */

.about-info {
    margin-left: 20%;
    margin-right: 20%;
}

.footer-link {
    margin-top: 40px;
}

.footer-link a {
    color: #159da0;
}

.footer-link a:hover {
    color: #00ffe7;
    text-decoration: none;
}

/* =============================== Classes Cards ====================================== */

.card-body {
    background-color: #212525;
    display: flex;
    flex-direction: column;
}

.btn-classes {
    margin-top: auto;
}

.card-classes {
    background-color: #212525;
    min-height: 496px;
    margin-top: 5px;
    width: 100%;
}

.time-class {
    font-size: 80%;
}

/* =============================== Membership Section================================= */

.membership-month-outer {
    padding-right: 0px;
}

.membership-month-inner {
    margin-left: auto;
    background-color: #00ffe7;
}

.membership-year-outer {
    padding-left: 0px;
}

.membership-year-inner {
    margin-right: auto;
    background-color: #00ffe7;
}

.member-item {
    background-color: #212525;
}

.card-title {
    color: #159da0!important;
}

.card-subtitle {
    color: #00ffe7;
}

.form-body {
    background-color: #212525;
    padding: 1.5rem;
    margin-top: 30px;
}
/* =============================== Testimonials ======================================= */

.carousel-container {
    background-color: #212525;
    max-width: 1000px;
    margin: auto;
}

.carousel-arrows {
    color: #159da0;
}

.carousel-arrows:hover {
    color: #00ffe7;
}

/* =============================== Footer ============================================= */

footer {
    background-color: #212525;
    margin-top: 15px;
}

footer div {
    width: 100%;
    margin: auto;
    padding-left: 15px;
}

details {
    margin: auto;
    width: 250px;
    padding-right: 0;
}

.address-box {
    margin: auto;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: left;
    padding-left: 15%;
    font-size: 25px;
}

summary:focus {
    outline: none;
}

.footer-logo {
    width: 80%;
}

.social-links {
    padding-bottom: 15px;
    padding-right: 0;
}

.social-links ul {
    padding-left: 0;
}

.social-links li a i {
    font-size: 50px;
    text-align: center;
    color: #159da0;
    background: #212525;
}

.social-links li a i:hover {
    color: #00ffe7;
}

/* =============================== Media Queries ====================================== */

@media screen and (min-width: 1200px) {
    .card-classes {
        min-height: 592px;
    }
}

@media screen and (min-width: 1010px) {
    .card-classes .card-body {
        min-height: 334px;
    }
}

@media screen and (max-width: 1010px) {
    .address-box {
        font-size: 20px;
    }
}

@media screen and (max-width: 925px) {
    .carousel-container {
        min-height: 400px;
    }

    .social-links li a i {
        font-size: 24px;
    }
    .address-box {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        padding-top: 0;
    }

    .main-headers {
        font-weight: 600;
        font-size: 30px;
        margin-top: 30px;
    }

    .sub-headers {
        font-weight: 600;
        font-size: 25px;
    }

    .carousel-container {
        min-height: 400px;
    }

    .blockquote {
        font-size: 16px;
    }

    .carousel-arrows {
        font-size: 25px;
    }

    .membership-month-outer {
        padding: 0;
        max-width: 95%;
    }

    .membership-month-inner {
        margin: 0;
    }

    .membership-year-outer {
        padding: 0;
        max-width: 95%;
    }

    .membership-year-inner {
        margin: 0;
    }

    .membership-row {
        margin-left: 0;
    }
}
